#siteinfo {
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  position: relative;
  border-bottom: 2px solid #ccc;

  // Slight opaqueness over image to pop text
  &:after {
    background-color: rgba(0, 0, 0, .3);
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
  }

  @media ($two-col) {
    padding: 2em;
  }
  @media ($one-col) {
    padding: 2em 1em;
  }
}

#lead-story {
  @include clearfix;
  color: white;
  text-shadow: 1px 1px 2px #000;
  padding: 0;
  z-index: 10;
  position: relative;

  h2 {
    color: $pink2;
  }

  p {
    @include scale-font-size();

    line-height: 1.3em;
  }

  // Large screen
  @media ($two-col) {
    figure {
      width: 38%;
      float: left;
      margin-right: 2vw;

      img {
        width: 100%;
        height: auto;
      }
    }

    .field-body {
      margin-bottom: 3em;
    }
  }

  // Small Screen
  @media ($one-col) {
    figure, h2 {
      display: inline-block;
      vertical-align: middle;
    }

    figure {
      width: 25%;
      margin-right: -5px;

      img {
        width: 100%;
        height: auto;
      }
    }

    h2 {
      width: 75%;
      padding-left: 5vw;
    }

    .field-body {
      clear: left;
      margin: 1em 0 3em 0;
      text-align: center;
    }
  }
}


// Homepage only
body.page-home {
  #page--content {
    .panel--pane {
      .inner {
        text-align: center;
      }
    }
  }
}
