// All pages except home page.
body:not(.page-home) {
  #site-header {
    background-color: $blue1;
    text-align: center;
    padding: 2rem 1rem 4rem 1rem;
    position: relative;
    border-bottom: 3px solid #ddd;
    margin-bottom: 10vw;

    h1 {
      color: white;
      text-shadow: none;
    }
  }

  #page {
    margin-top: 3em;
  }
}

#site-name {
  @include scale-font-size(30rem, 1.5em, 80rem, 3em);
  color: $gold;
  font-family: $sans-serif;
  margin-bottom: .2em;

  &:after {
    content: '• • • • • • • • • •';
    display: block;
    margin: 0 auto;
    line-height: 1em;
    font-size: 24px;
    color: $pink2;
  }
}
