// Fonts
$serif: 'Arvo', serif;
$sans-serif: 'Raleway', sans-serif;

// Colors
$gold: #FEC763;
$pink1: #FAC4C4;
$pink2: #F8A9AE;
$pink3: #F37384;

// Typeplate Overrides
$paragraph-vertical-whitespace: true;
