// Fonts
$serif: 'Arvo', serif;
$sans-serif: 'Raleway', sans-serif;

// Colors
$gold: #FEC763;
$pink1: #FAC4C4;
$pink2: #F8A9AE;
$pink3: #F37384;

// Typeplate Overrides
$paragraph-vertical-whitespace: true;

// Structure
$body-max-width: 52rem;
$body-min-width: 25rem;
$side-max-width: 25rem;
$side-min-width: 25rem;

$two-col-max: $body-max-width + $side-max-width;
$two-col-min: $body-min-width + $side-min-width;

// Breakpoints
$two-col: "min-width: " + $two-col-min;
$one-col: "max-width: " + $two-col-min - 1rem;
