$teaser-height: 470px;

article.teaser {
  h2 {
    @include scale-font-size($font-scale-start, 1.5em, $font-scale-stop, 2.5em);

    a {
      color: $pink2;
      text-decoration: none;
    }
  }
}

.panel--pane.staggered {
  article.teaser {
    text-align: center;

    img {
      max-width: 200px;
      max-height: 200px;
    }

    .author, time {
      color: #999;
      display: block;
      color: $blue1;
    }
  }
}

// Small screens
@media ($one-col) {
  .panel--pane.staggered {
    article.teaser {
      padding: 1em 0;
    }
  }
}

// Large screens
@media ($two-col) {
  .panel--pane.staggered {
    .pane-content {
      @include clearfix;
    }

    article.teaser {
      float: left;
      width: 50%;
      height: $teaser-height;

      &:nth-child(odd) {
        padding: 0 1em 1em 0;
      }
      &:nth-child(2) {
        margin-top: $teaser-height / 2;
      }

      &:nth-child(even) {
        padding: 0 0 1em 1em;
      }

      &:nth-child(odd):not(:first-child) {
        margin-top: -($teaser-height / 2);
      }
    }
  }
}
