<footer id="site-footer" role="contentinfo">
  <div id="footer--social">
    <img src="{{ site.baseurl }}/images/icons/icomoon/SVG/twitter.svg" alt="Twitter icon" class="twitter" />
    <a href="http://twitter.com/accessibots" target="_blank"><img src="{{ site.baseurl }}/images/icons/badge/badge_128.png" alt="Logo for The Accessibots." /><span class="hidden-link">Follow the Accessibots on Twitter</span></a>
    <a href="http://twitter.com/accessibotlilly" target="_blank"><img src="{{ site.baseurl }}/images/icons/lilly/lilly_128.png" alt="Logo for Lilly the Accessibot" /><span class="hidden-link">Follow Lillybot on Twitter</span></a>
  </div>
  <div id="footer--legal">
    Copyright {{ site.date | date: "%Y" }} &copy; <a href="http://www.lullabot.com" target="_blank">Lullabot</a>, all rights reserved.
  </div>
</footer>
