<nav id="main-nav" role="navigation">
  <div class="js-nav-toggle-wrapper">
    <button class="js-nav-toggle">
      <span>Close menu</span>
    </button>
  </div>
  <ul>
    {% assign page_url = page.url | remove: '/' %}

    {% for item in site.data.menu %}
    {% assign item_url = item.url | remove: '/' %}
    <li class="main-menu__item {% if item_url == page_url %}active-trail{% endif %}">
      <a href="{{ item.url | prepend: site.host }}" aria-label="{{ item.title }}" {% if item_url == page_url %}class="active"{% endif %}>
        {{ item.title }}
      </a>
    </li>
    {% endfor %}
  </ul>
</nav>
