<nav id="main-nav" role="navigation">
  <div class="js-nav-toggle-wrapper">
    <button class="js-nav-toggle">
      <span>Close menu</span>
    </button>
  </div>
  <ul>
    {% assign page_parts = page.url | split: '/' %}

    {% for item in site.data.menu %}
    {% assign item_url = item.url | remove: '/' %}
    <li class="main-menu__item {% if page_parts[1] == item_url or page.url == item.url %}active-trail{% endif %}">
      <a href="{{ item.url | prepend: site.urlhost }}" aria-label="{{ item.title }}"  class="main-menu__item-link {% if page_parts[1] == item_url or page.url == item.url %}active{% endif %}">
        {{ item.title }}
      </a>
    </li>
    {% endfor %}
  </ul>
</nav>
