<nav id="main-nav" role="navigation">
  <div class="js-nav-toggle-wrapper">
    <button class="js-nav-toggle">
      <span>Close menu</span>
    </button>
  </div>
  <ul>
    <li class="first leaf"><a href="/home" aria-label="Home" class="active">Home</a></li>
    <li class="leaf"><a href="/who-we-are" aria-label="Who We Are">Who We Are</a></li>
    <li class="leaf"><a href="/news" aria-label="News &amp; Events">News &amp; Events</a></li>
    <li class="leaf"><a href="/tools" aria-label="Tools">Tools</a></li>
    <li class="last leaf"><a href="/resources" aria-label="Resources">Resources</a></li>
  </ul>
</nav>
