#site-footer {
  background-color: $blue1;
  color: white;
  padding: 1rem $page-margin;
  font-size: 0.85rem;

  a {
    color: $gold;
  }

  svg {
    path {
      fill: lighten($blue1, 50%);
    }

    &.twitter {
      @include size(50px);
      padding: 10px;
      margin-right: 1em;
    }
  }
}

#footer--social {
  a {
    display: inline-block;

    + a {
      margin-left: 1em;
    }
  }

  img {
    max-width: 50px;
  }
}


@include layout(two-col) {
  #site-footer {
    > * {
      width: 50%;
      display: inline-block;
      vertical-align: top;
    }

    * + * {
      margin-left: -5px;
      text-align: right;
    }
  }
}

@include layout(one-col) {
  #site-footer {
    > * {
      text-align: center;
      margin: 1rem;
    }
  }
}
