#site-header {
  background-image: url('../images/keyboard.jpg');
  background-repeat: no-repeat;
  background-position: center right;
  background-size: cover;
  text-align: center;
  padding: 2rem 1rem 4rem 1rem;
  position: relative;
  border-bottom: 3px solid $grey2;
  margin-bottom: 10vw;
  z-index: 7;

  h1 {
    @include scale-font-size(10rem, 1.5em, 80rem, 4em);
    color: $gold;
    text-shadow: 2px 2px 2px rgba(black, .5);
    font-family: $sans-serif;
    font-weight: normal;
  }

  .field--text-long--field-content-body {
    color: white;
    margin: 1.5em 0;
    text-shadow: 2px 2px 2px rgba(black, .5);
    background: rgba(black, .2);
    display: inline-block;
    padding: .25em 2em;
    border-radius: .5em;
  }

  @include layout(two-col) {
    background-attachment: scroll;
  }
  @include layout(one-col) {
    background-attachment: scroll;
  }
}

.header-badge {
  display: block;
  min-width: 100px;
  width: 15vw;
  line-height: 0;
  margin: 0 auto -4rem auto;

  img {
    margin-bottom: -50%;
    width: 100%;
    height: auto;
  }
}
