#lead-story {
  @include clearfix;
  padding: 0;
  position: relative;
  width: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  border-top: 3px solid $grey2;
  margin-top: 4rem;

  &:before {
    content: '';
    background: rgba(white, .5);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 5;
  }

  > .inner {
    max-width: $body-max-width;
    margin: 0 auto;
    position: relative;
    z-index: 10;
  }

  h2 {
    color: $pink3;
    text-shadow: 2px 2px 2px rgba(black, .3);
    font-family: $sans-serif;
    font-weight: normal;
  }

  p {
    @include scale-font-size();
    color: #000066;
    line-height: 1.3em;
    text-shadow: 1px 1px 1px rgba(white, 0.8);
    font-weight: bold;
  }

  a {
    @extend %link-button;
    text-shadow: none;
    font-weight: normal;
  }

  // Large screen
  @include layout(two-col) {
    padding: 3em 2em;

    p {
      &:last-child {
        text-align: right;
        margin-right: 35px;
      }
    }

    figure {
      width: 38%;
      display: inline-block;
      margin-right: -5px;
      vertical-align: middle;
      padding-right: 1em;

      img {
        width: 100%;
        height: auto;
      }
    }

    div.col2 {
      display: inline-block;
      width: 62%;
      vertical-align: middle;
      padding-left: 1em;
    }

    .field-body {
      margin-bottom: 3em;
    }
  }

  // Small Screen
  @include layout(one-col) {
    padding: 2em 1em;
    text-align: center;

    figure, h2 {
      display: block;
      margin: 0 auto;
    }

    figure {
      max-width: 68vw;
      max-height: 200px;
      height: auto;

      img {
        width: 100%;
        height: auto;
      }
    }

    h2 {
      width: 75%;
      padding-left: 5vw;
    }

    .field-body {
      margin: 1em 0 3em 0;
    }
  }
}
