@charset "UTF-8";
@-webkit-keyframes _slide-left {
  0% {
    -webkit-transform: translateX(-100%); }
  100% {
    -webkit-transform: translateX(0); } }

@keyframes _slide-left {
  0% {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%); }
  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); } }

@-webkit-keyframes _slide-right {
  0% {
    -webkit-transform: translateX(100%); }
  100% {
    -webkit-transform: translateX(0); } }

@keyframes _slide-right {
  0% {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%); }
  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); } }

* {
  box-sizing: border-box; }

body {
  margin: 0 auto; }

a {
  outline: 0; }

nav ul li {
  list-style: none; }

table {
  table-layout: fixed; }

#lead-story a, .field--link-field--field-resource-url a {
  display: inline-block;
  background-color: #FEC763;
  color: #0085a3;
  padding: 0.25em 1em;
  font-size: 0.85em;
  border-radius: .25em;
  text-decoration: none;
  position: relative;
  z-index: 1;
  border: 2px solid transparent;
  transition: 0.5s border ease-out, 0.5s box-shadow ease-out, 0.5s 0.1s border-top-left-radius, 0.5s 0.1s border-top-right-radius, 0.5s 0.2s border-bottom-right-radius, 0.5s 0.2s border-bottom-left-radius; }
  #lead-story a:hover, .field--link-field--field-resource-url a:hover, #lead-story a:focus, .field--link-field--field-resource-url a:focus, #lead-story a:active, .field--link-field--field-resource-url a:active {
    border-radius: 10em;
    border-color: #0085a3;
    box-shadow: 0 0 5px 1px rgba(0, 175, 214, 0.25); }

/*! normalize.css v2.1.3 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent; }

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap; }

/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0; }

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"], input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/*!
Typeplate : Starter Kit
URL ........... http://typeplate.com
Version ....... 2.1.0
Github ........ https://github.com/typeplate/starter-kit
Authors ....... Dennis Gaebel (@gryghostvisuals) & Zachary Kain (@zakkain)
License ....... Creative Commmons Attribution 3.0
License URL ... https://github.com/typeplate/starter-kit/blob/master/license.txt
*/
@font-face {
  font-family: "Ampersand";
  src: local("Georgia"), local("Garamond"), local("Palatino"), local("Book Antiqua");
  unicode-range: U26; }

@font-face {
  font-family: "Ampersand";
  src: local("Georgia");
  unicode-range: U270C; }

.typl8-tera, .typl8-giga, .typl8-mega, h1, .typl8-alpha, h2, .typl8-beta, h3, .typl8-gamma, h4, .typl8-delta, h5, .typl8-epsilon, .typl8-zeta, h6 {
  text-rendering: optimizeLegibility;
  line-height: 1;
  margin-top: 0;
  color: #222; }

blockquote + figcaption cite {
  display: block;
  font-size: inherit;
  text-align: right; }

body {
  word-wrap: break-word; }

pre code {
  word-wrap: normal; }

html {
  font: normal 130%/1.65 serif; }

body {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  color: #444; }

.typl8-tera {
  font-size: 6.5rem;
  margin-bottom: 3.9393939394rem; }

.typl8-giga {
  font-size: 5rem;
  margin-bottom: 3.0303030303rem; }

.typl8-mega, h1 {
  font-size: 4rem;
  margin-bottom: 2.4242424242rem; }

.typl8-alpha, h2 {
  font-size: 3.3333333333rem;
  margin-bottom: 2.0202020202rem; }

.typl8-beta, h3 {
  font-size: 2.6666666667rem;
  margin-bottom: 1.6161616162rem; }

.typl8-gamma, h4 {
  font-size: 2rem;
  margin-bottom: 1.2121212121rem; }

.typl8-delta, h5 {
  font-size: 1.3333333333rem;
  margin-bottom: 0.8080808081rem; }

.typl8-epsilon {
  font-size: 1.1666666667rem;
  margin-bottom: 0.7070707071rem; }

.typl8-zeta, h6 {
  font-size: 1rem;
  margin-bottom: 0.6060606061rem; }

p {
  margin: auto auto 0; }
  p + p {
    text-indent: 0;
    margin-top: 0; }

small {
  font-size: 65%; }

input,
abbr,
acronym,
blockquote,
code,
kbd,
q,
samp,
var {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

pre {
  white-space: pre; }
  pre code {
    white-space: -moz-pre-wrap;
    white-space: pre-wrap; }

code {
  white-space: pre;
  font-family: monospace; }

abbr {
  -webkit-font-variant: small-caps;
  -moz-font-variant: small-caps;
  -ms-font-variant: small-caps;
  font-variant: small-caps;
  font-weight: 600;
  text-transform: lowercase;
  color: gray; }
  abbr[title]:hover {
    cursor: help; }

.typl8-drop-cap:first-letter {
  float: left;
  margin: 10px 10px 0 0;
  padding: 0 20px;
  font-size: 4em;
  font-family: inherit;
  line-height: 1;
  text-indent: 0;
  background: transparent;
  color: inherit; }

p + .typl8-drop-cap {
  text-indent: 0;
  margin-top: 0; }

/**
 * Lining Definition Style Markup
 *
  <dl class="typl8-lining">
    <dt><b></b></dt>
    <dd></dd>
  </dl>
 *
 * Extend this object into your markup.
 *
 */
.typl8-lining dt,
.typl8-lining dd {
  display: inline;
  margin: 0; }

.typl8-lining dt + dt:before,
.typl8-lining dd + dt:before {
  content: "\A";
  white-space: pre; }

.typl8-lining dd + dd:before {
  content: ", "; }

.typl8-lining dd:before {
  content: ": ";
  margin-left: -0.2rem; }

/**
 * Dictionary Definition Style Markup
 *
  <dl class="typl8-dictionary-style">
    <dt><b></b></dt>
    <dd></dd>
  </dl>
 *
 * Extend this object into your markup.
 *
 */
.typl8-dictionary-style dt {
  display: inline;
  counter-reset: definitions; }
  .typl8-dictionary-style dt + dt:before {
    content: ", ";
    margin-left: -0.2rem; }

.typl8-dictionary-style dd {
  display: block;
  counter-increment: definitions; }
  .typl8-dictionary-style dd:before {
    content: counter(definitions, decimal) ". "; }

/**
 * Blockquote Markup
 *
    <figure>
      <blockquote cite="">
        <p></p>
      </blockquote>
      <figcaption>
        <cite>
          <small><a href=""></a></small>
        </cite>
      </figcaption>
    </figure>
 *
 * Extend this object into your markup.
 *
 */
/**
 * Pull Quotes Markup
 *
  <aside class="typl8-pull-quote">
    <blockquote>
      <p></p>
    </blockquote>
  </aside>
 *
 * Extend this object into your custom stylesheet.
 *
 */
.typl8-pull-quote {
  position: relative;
  padding: 1em; }
  .typl8-pull-quote:before,
  .typl8-pull-quote:after {
    height: 1em;
    opacity: 0.5;
    position: absolute;
    font-size: 4em;
    color: #dc976e; }
  .typl8-pull-quote:before {
    content: '“';
    top: 0;
    left: 0; }
  .typl8-pull-quote:after {
    content: '”';
    bottom: 0;
    right: 0; }

/**
 * Figures Markup
 *
  <figure>
    <figcaption>
      <strong>Fig. X.X | </strong><cite title=""></cite>
    </figcaption>
  </figure>
 *
 * Extend this object into your markup.
 *
 */
/**
 * Footnote Markup : Replace 'X' with your unique number for each footnote
 *
  <article>
    <p><sup><a href="#fn-itemX" id="fn-returnX"></a></sup></p>
    <footer>
      <ol class="foot-notes">
        <li id="fn-itemX"><a href="#fn-returnX">↩</a></li>
      </ol>
    </footer>
  </article>
 *
 * Extend this object into your markup.
 *
 */
* {
  -webkit-hyphens: none;
     -moz-hyphens: none;
      -ms-hyphens: none;
          hyphens: none; }

html {
  height: 100%; }

body {
  font-family: "Arvo", serif;
  height: 100%; }

.hidden-link {
  display: block;
  position: absolute;
  height: 1px;
  font-size: 1px;
  opacity: 0.00000001; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
  color: #F37384; }

@media (max-width: 71.7777777778rem) {
  h1 {
    font-size: 6.4251806904rem;
    margin-bottom: 3.8940489033rem; }
  h2 {
    font-size: 3.9710634675rem;
    margin-bottom: 2.4067051318rem; }
  h3 {
    font-size: 2.45430375rem;
    margin-bottom: 1.4874568182rem; }
  h4 {
    font-size: 1.516875rem;
    margin-bottom: 0.9193181818rem; }
  h5 {
    font-size: 0.9375rem;
    margin-bottom: 0.5681818182rem; }
  h6 {
    font-size: 0.5794190358rem;
    margin-bottom: 0.351163052rem; } }

@media (max-width: 66.5555555556rem) {
  h1 {
    font-size: 5.9968353111rem;
    margin-bottom: 3.6344456431rem; }
  h2 {
    font-size: 3.706325903rem;
    margin-bottom: 2.246258123rem; }
  h3 {
    font-size: 2.2906835rem;
    margin-bottom: 1.3882930303rem; }
  h4 {
    font-size: 1.41575rem;
    margin-bottom: 0.858030303rem; }
  h5 {
    font-size: 0.875rem;
    margin-bottom: 0.5303030303rem; }
  h6 {
    font-size: 0.5407911001rem;
    margin-bottom: 0.3277521819rem; } }

@media (max-width: 61.3333333333rem) {
  h1 {
    font-size: 5.5684899317rem;
    margin-bottom: 3.3748423828rem; }
  h2 {
    font-size: 3.4415883385rem;
    margin-bottom: 2.0858111142rem; }
  h3 {
    font-size: 2.12706325rem;
    margin-bottom: 1.2891292424rem; }
  h4 {
    font-size: 1.314625rem;
    margin-bottom: 0.7967424242rem; }
  h5 {
    font-size: 0.8125rem;
    margin-bottom: 0.4924242424rem; }
  h6 {
    font-size: 0.5021631644rem;
    margin-bottom: 0.3043413118rem; } }

@media (max-width: 56.1111111111rem) {
  h1 {
    font-size: 5.1401445523rem;
    margin-bottom: 3.1152391226rem; }
  h2 {
    font-size: 3.176850774rem;
    margin-bottom: 1.9253641055rem; }
  h3 {
    font-size: 1.963443rem;
    margin-bottom: 1.1899654545rem; }
  h4 {
    font-size: 1.2135rem;
    margin-bottom: 0.7354545455rem; }
  h5 {
    font-size: 0.75rem;
    margin-bottom: 0.4545454545rem; }
  h6 {
    font-size: 0.4635352287rem;
    margin-bottom: 0.2809304416rem; } }

@media (max-width: 50.8888888889rem) {
  h1 {
    font-size: 4.711799173rem;
    margin-bottom: 2.8556358624rem; }
  h2 {
    font-size: 2.9121132095rem;
    margin-bottom: 1.7649170967rem; }
  h3 {
    font-size: 1.79982275rem;
    margin-bottom: 1.0908016667rem; }
  h4 {
    font-size: 1.112375rem;
    margin-bottom: 0.6741666667rem; }
  h5 {
    font-size: 0.6875rem;
    margin-bottom: 0.4166666667rem; }
  h6 {
    font-size: 0.424907293rem;
    margin-bottom: 0.2575195715rem; } }

@media (max-width: 45.6666666667rem) {
  h1 {
    font-size: 4.2834537936rem;
    margin-bottom: 2.5960326022rem; }
  h2 {
    font-size: 2.647375645rem;
    margin-bottom: 1.6044700879rem; }
  h3 {
    font-size: 1.6362025rem;
    margin-bottom: 0.9916378788rem; }
  h4 {
    font-size: 1.01125rem;
    margin-bottom: 0.6128787879rem; }
  h5 {
    font-size: 0.625rem;
    margin-bottom: 0.3787878788rem; }
  h6 {
    font-size: 0.3862793572rem;
    margin-bottom: 0.2341087014rem; } }

@media (max-width: 40.4444444444rem) {
  h1 {
    font-size: 3.8551084142rem;
    margin-bottom: 2.336429342rem; }
  h2 {
    font-size: 2.3826380805rem;
    margin-bottom: 1.4440230791rem; }
  h3 {
    font-size: 1.47258225rem;
    margin-bottom: 0.8924740909rem; }
  h4 {
    font-size: 0.910125rem;
    margin-bottom: 0.5515909091rem; }
  h5 {
    font-size: 0.5625rem;
    margin-bottom: 0.3409090909rem; }
  h6 {
    font-size: 0.3476514215rem;
    margin-bottom: 0.2106978312rem; } }

@media (max-width: 35.2222222222rem) {
  h1 {
    font-size: 3.4267630349rem;
    margin-bottom: 2.0768260818rem; }
  h2 {
    font-size: 2.117900516rem;
    margin-bottom: 1.2835760703rem; }
  h3 {
    font-size: 1.308962rem;
    margin-bottom: 0.793310303rem; }
  h4 {
    font-size: 0.809rem;
    margin-bottom: 0.4903030303rem; }
  h5 {
    font-size: 0.5rem;
    margin-bottom: 0.303030303rem; }
  h6 {
    font-size: 0.3090234858rem;
    margin-bottom: 0.1872869611rem; } }

p {
  margin-bottom: 0; }
  p + p {
    margin-top: 1em; }

#page {
  margin-top: 3em; }

#page--content .panel--pane {
  margin: 2rem auto; }
  #page--content .panel--pane > .inner {
    max-width: 52em;
    padding: 0 1em;
    margin: 0 auto; }

/* generated with grunt-sass-globbing */
#site-footer {
  background-color: #00afd6;
  color: white;
  padding: 1rem 5%;
  font-size: 0.85rem; }
  #site-footer a {
    color: #FEC763; }
  #site-footer svg path {
    fill: #d6f8ff; }
  #site-footer svg.twitter {
    height: 50px;
    width: 50px;
    padding: 10px;
    margin-right: 1em; }

#footer--social a {
  display: inline-block; }
  #footer--social a + a {
    margin-left: 1em; }

#footer--social img {
  max-width: 50px; }

@media (min-width: 50rem) {
  #site-footer > * {
    width: 50%;
    display: inline-block;
    vertical-align: top; }
  #site-footer * + * {
    margin-left: -5px;
    text-align: right; } }

@media (max-width: 50rem) {
  #site-footer > * {
    text-align: center;
    margin: 1rem; } }

#site-header {
  background-image: url("../images/keyboard.jpg");
  background-repeat: no-repeat;
  background-position: center right;
  background-size: cover;
  text-align: center;
  padding: 2rem 1rem 4rem 1rem;
  position: relative;
  border-bottom: 3px solid #ccc;
  margin-bottom: 10vw;
  z-index: 7; }
  #site-header h1 {
    color: #FEC763;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    font-family: "Raleway", sans-serif;
    font-weight: normal; }
    @media (min-width: 10rem) {
      #site-header h1 {
        font-size: 1.5em; } }
    @media (min-width: 24rem) {
      #site-header h1 {
        font-size: 2em; } }
    @media (min-width: 38rem) {
      #site-header h1 {
        font-size: 2.5em; } }
    @media (min-width: 52rem) {
      #site-header h1 {
        font-size: 3em; } }
    @media (min-width: 66rem) {
      #site-header h1 {
        font-size: 3.5em; } }
    @media (min-width: 80rem) {
      #site-header h1 {
        font-size: 4em; } }
  #site-header .field--text-long--field-content-body {
    color: white;
    margin: 1.5em 0;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    background: rgba(0, 0, 0, 0.2);
    display: inline-block;
    padding: 0.25em 2em;
    border-radius: .5em; }
  @media (min-width: 50rem) {
    #site-header {
      background-attachment: scroll; } }
  @media (max-width: 50rem) {
    #site-header {
      background-attachment: scroll; } }

.header-badge {
  display: block;
  min-width: 100px;
  width: 15vw;
  line-height: 0;
  margin: 0 auto -4rem auto; }
  .header-badge img {
    margin-bottom: -50%;
    width: 100%;
    height: auto; }

#lead-story {
  padding: 0;
  position: relative;
  width: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  border-top: 3px solid #ccc;
  margin-top: 4rem; }
  #lead-story::after {
    clear: both;
    content: "";
    display: table; }
  #lead-story:before {
    content: '';
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 5; }
  #lead-story > .inner {
    max-width: 52rem;
    margin: 0 auto;
    position: relative;
    z-index: 10; }
  #lead-story h2 {
    color: #F37384;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    font-family: "Raleway", sans-serif;
    font-weight: normal; }
  #lead-story p {
    color: #000066;
    line-height: 1.3em;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
    font-weight: bold; }
    @media (min-width: 30rem) {
      #lead-story p {
        font-size: 1em; } }
    @media (min-width: 40rem) {
      #lead-story p {
        font-size: 1.04em; } }
    @media (min-width: 50rem) {
      #lead-story p {
        font-size: 1.08em; } }
    @media (min-width: 60rem) {
      #lead-story p {
        font-size: 1.12em; } }
    @media (min-width: 70rem) {
      #lead-story p {
        font-size: 1.16em; } }
    @media (min-width: 80rem) {
      #lead-story p {
        font-size: 1.2em; } }
  #lead-story a {
    text-shadow: none;
    font-weight: normal; }
  @media (min-width: 50rem) {
    #lead-story {
      padding: 3em 2em; }
      #lead-story p:last-child {
        text-align: right;
        margin-right: 35px; }
      #lead-story figure {
        width: 38%;
        display: inline-block;
        margin-right: -5px;
        vertical-align: middle;
        padding-right: 1em; }
        #lead-story figure img {
          width: 100%;
          height: auto; }
      #lead-story div.col2 {
        display: inline-block;
        width: 62%;
        vertical-align: middle;
        padding-left: 1em; }
      #lead-story .field-body {
        margin-bottom: 3em; } }
  @media (max-width: 50rem) {
    #lead-story {
      padding: 2em 1em;
      text-align: center; }
      #lead-story figure, #lead-story h2 {
        display: block;
        margin: 0 auto; }
      #lead-story figure {
        max-width: 68vw;
        max-height: 200px;
        height: auto; }
        #lead-story figure img {
          width: 100%;
          height: auto; }
      #lead-story h2 {
        width: 75%;
        padding-left: 5vw; }
      #lead-story .field-body {
        margin: 1em 0 3em 0; } }

#main-nav {
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  width: 62%;
  max-width: 600px;
  transition: all 0.2s ease-out;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 50; }
  #main-nav .js-nav-toggle-wrapper {
    background-color: rgba(0, 0, 0, 0.2);
    margin-right: -80px;
    float: right;
    border-bottom-right-radius: 1em; }
    #main-nav .js-nav-toggle-wrapper:before, #main-nav .js-nav-toggle-wrapper:after {
      content: '';
      width: 20px;
      height: 20px;
      display: block;
      background: radial-gradient(circle at 100% 100%, rgba(255, 0, 0, 0) 20px, rgba(0, 0, 0, 0.2) 20px); }
    #main-nav .js-nav-toggle-wrapper:before {
      margin-right: -20px;
      float: right; }
    #main-nav .js-nav-toggle-wrapper:after {
      margin-bottom: -20px; }
  #main-nav .js-nav-toggle {
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 80px;
    height: 72px;
    font-size: 0;
    text-indent: -9999px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    box-shadow: none;
    border-radius: 0;
    border: none;
    cursor: pointer;
    background-color: transparent; }
    #main-nav .js-nav-toggle span {
      display: block;
      position: absolute;
      top: 32.4px;
      left: 12px;
      right: 12px;
      height: 7.2px;
      background: #FEC763; }
      #main-nav .js-nav-toggle span:before, #main-nav .js-nav-toggle span:after {
        position: absolute;
        display: block;
        left: 0;
        width: 100%;
        height: 7.2px;
        background-color: #FEC763;
        content: ""; }
      #main-nav .js-nav-toggle span:before {
        top: -18px; }
      #main-nav .js-nav-toggle span:after {
        bottom: -18px; }
    #main-nav .js-nav-toggle:focus,
    #main-nav .js-nav-toggle:hover {
      outline: none; }
      #main-nav .js-nav-toggle:focus span,
      #main-nav .js-nav-toggle:hover span {
        background: #00afd6; }
        #main-nav .js-nav-toggle:focus span:before,
        #main-nav .js-nav-toggle:focus span:after,
        #main-nav .js-nav-toggle:hover span:before, #main-nav .js-nav-toggle:hover span:after {
          background-color: #00afd6; }
    #main-nav .js-nav-toggle span {
      transition: background 0 0.3s; }
      #main-nav .js-nav-toggle span:before, #main-nav .js-nav-toggle span:after {
        transition-duration: 0.3s, 0.3s;
        transition-delay: 0.3s, 0; }
      #main-nav .js-nav-toggle span:before {
        transition-property: top, -webkit-transform;
        transition-property: top, transform; }
      #main-nav .js-nav-toggle span:after {
        transition-property: bottom, -webkit-transform;
        transition-property: bottom, transform; }
    #main-nav .js-nav-toggle span {
      box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.1); }
      #main-nav .js-nav-toggle span:before, #main-nav .js-nav-toggle span:after {
        box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.1); }
  #main-nav.active {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    background-color: rgba(0, 0, 0, 0.8); }
    #main-nav.active .js-nav-toggle-wrapper {
      background-color: rgba(0, 0, 0, 0.8); }
      #main-nav.active .js-nav-toggle-wrapper:before, #main-nav.active .js-nav-toggle-wrapper:after {
        background: radial-gradient(circle at 100% 100%, rgba(255, 0, 0, 0) 20px, rgba(0, 0, 0, 0.8) 20px); }
    #main-nav.active .js-nav-toggle span {
      background: none; }
      #main-nav.active .js-nav-toggle span:before {
        top: 0;
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg); }
      #main-nav.active .js-nav-toggle span:after {
        bottom: 0;
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg); }
      #main-nav.active .js-nav-toggle span:before, #main-nav.active .js-nav-toggle span:after {
        transition-delay: 0, 0.3s; }
    #main-nav.active .js-nav-toggle span {
      box-shadow: none; }
      #main-nav.active .js-nav-toggle span:before, #main-nav.active .js-nav-toggle span:after {
        box-shadow: none; }
  #main-nav ul {
    margin: 0;
    padding: 0;
    display: none; }
    #main-nav ul li a {
      display: block;
      padding: 1em 1em 0.5em 1em;
      text-align: left;
      text-decoration: none;
      color: white;
      font-family: "Raleway", sans-serif;
      font-weight: bold;
      text-transform: uppercase;
      text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3); }
      #main-nav ul li a:hover,
      #main-nav ul li a:focus {
        background: linear-gradient(to right, #FEC763, transparent);
        text-decoration: underline; }
    #main-nav ul li.active-trail a {
      background: linear-gradient(to right, #00afd6, transparent); }
  #main-nav.active ul {
    display: block; }

.tool--full__field--image--field-primary-image {
  float: left;
  margin: 0 1em 0.5em 0;
  max-width: 38%; }
  .tool--full__field--image--field-primary-image img {
    max-width: 100%;
    height: auto; }

.field--entityreference--field-platform,
.field--entityreference--field-category {
  text-align: left;
  margin: 1em 0; }
  .field--entityreference--field-platform label,
  .field--entityreference--field-category label {
    font-weight: bold;
    display: block; }
  .field--entityreference--field-platform .values > div,
  .field--entityreference--field-category .values > div {
    display: inline-block;
    font-size: 0.85em; }
    .field--entityreference--field-platform .values > div:not(:last-child),
    .field--entityreference--field-category .values > div:not(:last-child) {
      margin-right: 1em; }

.field--entityreference--field-platform .field--image {
  display: inline-block;
  vertical-align: middle; }

.field--entityreference--field-category .values > div:before {
  display: inline-block;
  vertical-align: middle;
  content: "";
  background: transparent url("../images/checkbox.svg") 0 0 no-repeat;
  background-size: 25px;
  height: 25px;
  width: 25px;
  margin-right: .5em; }

.tool--teaser__field--number-float--field-price {
  color: #666;
  display: inline-block;
  background-color: white;
  padding: 0 1em;
  font-style: italic;
  margin-bottom: 1em; }
  .tool--teaser__field--number-float--field-price:after {
    display: block;
    content: '';
    border-top: 1px solid #ccc;
    position: absolute;
    margin-top: -18px;
    width: 80%;
    left: 10%;
    z-index: -1; }

.tool--full__field--number-float--field-price {
  margin: 1em 0; }
  .tool--full__field--number-float--field-price label {
    font-weight: bold; }

.field--link-field--field-resource-url {
  text-align: left; }

/* generated with grunt-sass-globbing */
body.page-home h1 {
  margin-bottom: 0; }

body.page-home #site-name {
  margin: 1em 0; }

body.page-home #page--content .panel--pane .inner {
  text-align: center; }

body.page-home #page--content .panel--pane article.teaser {
  margin-bottom: 0; }

body.page-home #page--content .panel--pane.bleed {
  margin: 0; }
  body.page-home #page--content .panel--pane.bleed > .inner {
    max-width: 100%;
    padding: 0; }

body:not(.page-home) #site-name {
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.2);
  display: inline-block;
  padding: 0.25em 2em;
  border-radius: .5em; }
  @media (min-width: 10rem) {
    body:not(.page-home) #site-name {
      font-size: 0.9em; } }
  @media (min-width: 24rem) {
    body:not(.page-home) #site-name {
      font-size: 1.12em; } }
  @media (min-width: 38rem) {
    body:not(.page-home) #site-name {
      font-size: 1.34em; } }
  @media (min-width: 52rem) {
    body:not(.page-home) #site-name {
      font-size: 1.56em; } }
  @media (min-width: 66rem) {
    body:not(.page-home) #site-name {
      font-size: 1.78em; } }
  @media (min-width: 80rem) {
    body:not(.page-home) #site-name {
      font-size: 2em; } }

body:not(.page-home) h1 {
  margin: .5em 0; }

#footer {
  margin-top: 2rem; }

/* generated with grunt-sass-globbing */
article.node-news footer {
  text-align: center; }
  article.node-news footer .author, article.node-news footer time {
    display: block; }
  article.node-news footer time {
    font-size: 1.4em; }

article.node-news > .content {
  margin-top: 3rem; }
  article.node-news > .content .field-primary-image {
    float: right;
    max-width: 38%;
    margin-left: 1em;
    line-height: 0; }
    article.node-news > .content .field-primary-image img {
      width: 100%;
      height: auto; }

article.node-news .field-body::after {
  clear: both;
  content: "";
  display: table; }

article.node-news .field-attached-files {
  clear: both;
  margin: 3rem 0; }
  article.node-news .field-attached-files a {
    background-color: #FEC763;
    color: #00afd6;
    display: inline-block;
    padding: 0.5em 1em;
    margin: .5em 0;
    border-radius: .25em;
    text-decoration: none;
    transition: .2s background-color; }
    article.node-news .field-attached-files a:hover, article.node-news .field-attached-files a:focus, article.node-news .field-attached-files a:active {
      text-decoration: underline;
      background-color: #febe4a; }

article.teaser h2 {
  margin: .5em 0; }
  @media (min-width: 20rem) {
    article.teaser h2 {
      font-size: 1.5em; } }
  @media (min-width: 32rem) {
    article.teaser h2 {
      font-size: 1.7em; } }
  @media (min-width: 44rem) {
    article.teaser h2 {
      font-size: 1.9em; } }
  @media (min-width: 56rem) {
    article.teaser h2 {
      font-size: 2.1em; } }
  @media (min-width: 68rem) {
    article.teaser h2 {
      font-size: 2.3em; } }
  @media (min-width: 80rem) {
    article.teaser h2 {
      font-size: 2.5em; } }
  article.teaser h2 a {
    color: #F37384;
    text-decoration: none; }
    article.teaser h2 a:hover, article.teaser h2 a:focus {
      text-decoration: underline; }

article.teaser .field--image--field-primary-image a {
  display: block;
  height: 150px; }

article.teaser .field--image--field-primary-image img {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  max-height: 100%;
  width: auto; }

.panel--pane article.teaser {
  text-align: center;
  margin-bottom: 5em; }
  .panel--pane article.teaser .author, .panel--pane article.teaser time {
    color: #999;
    display: block;
    color: #00afd6; }

@media (max-width: 50rem) {
  .panel--pane article.teaser {
    padding: 1em 0; } }

@media (min-width: 50rem) {
  .panel--pane .pane-content {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .panel--pane article.teaser {
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: 50%; }
    .panel--pane article.teaser .inner {
      padding: 0 1em;
      position: relative; }
  .panel--pane.staggered .teaser:nth-child(2) {
    margin-top: 200px; }
  .panel--pane.staggered .teaser:nth-child(odd):not(:first-child) {
    margin-top: -200px; } }
