html {
  height: 100%;
}

body {
  @include background-image(linear-gradient(#eee .1em, transparent .1em));
  background-size: 2em;
  font-family: $serif;
  height: 100%;
}

@include headers {
  font-family: $sans-serif;
}

p {
  margin-bottom: 0;

  + p {
    margin-top: 1em;
  }
}

// Two Col Layout
@media($two-col) {
  #main-content {
    max-width: $two-col-max;
    margin: 2rem 5% 0 5%;
  }
}

// Collapsed to One Col
@media($one-col) {

}
