html {
  height: 100%;
}

body {
  @include background-image(linear-gradient(#f9f9f9 .1em, transparent .1em));
  background-size: 40px;
  font-family: $serif;
  height: 100%;
}

// Headers
@include headers {
  font-family: $sans-serif;
  color: $pink3;
  text-shadow: 1px 1px 1px rgba(black, .38);
}

@include header-scale($two-col-max, 30, 9, .5);

p {
  margin-bottom: 0;

  + p {
    margin-top: 1em;
  }
}

// All pages except home page.
body:not(.page-front) {
  .page {
    margin-top: 4rem;
  }
}

// Two Col Layout
@media($two-col) {
  #main-content {
    max-width: $two-col-max;
    margin: 2rem 5% 0 $page-margin;
  }
}

// Collapsed to One Col
@media($one-col) {
  #main-content {
    margin: 1rem $page-margin;
  }
}
