* {hyphens: none;}

html {
  height: 100%;
}

body {
  font-family: $serif;
  height: 100%;
}

.hidden-link {
  display: block;
  position: absolute;
  height: 1px;
  font-size: 1px;
  opacity: 0.00000001;
}

// Headers
@include headers {
  font-family: $sans-serif;
  color: $pink3;
  font-weight: normal;
}

@include header-scale($two-col-max, 30, 9, .5);

p {
  margin-bottom: 0;

  &:not(:last-child) {
    margin-bottom: 1em;
  }
}

#page {
  margin-top: 3em;
}

#page--content {
  .panel--pane {
    margin: 2rem auto;

    > .inner {
      max-width: 52em;
      padding: 0 1em;
      margin: 0 auto;
    }
  }
}
