@mixin hamburger-button($width, $color: white) {
  // Calculate measurements
  $box-height: $width * 0.9;
  $bar-height: $box-height / 10;

  // Bar positions
  $patty-top: ($box-height / 2) - ($bar-height / 2);
  $bun-offset: $box-height * .25;
  $bar-padding: $width * .15;


  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: $width;
  height: $box-height;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
  border: none;
  cursor: pointer;

  span {
    display: block;
    position: absolute;
    top: $patty-top;
    left: $bar-padding;
    right: $bar-padding;
    height: $bar-height;
    background: $color;

    &:before, &:after {
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: $bar-height;
      background-color: $color;
      content: "";
    }

    &:before {top: -$bun-offset;}
    &:after {bottom: -$bun-offset;}
  }

  &:focus {
    // Accessibility?
    outline: none;
  }
}

@mixin hamburger-button-x($state: inactive) {
  @if $state == inactive {
    span {
      transition: background 0 0.3s;

      &:before, &:after {
        transition-duration: 0.3s, 0.3s;
        transition-delay: 0.3s, 0;
      }

      &:before {transition-property: top, transform;}

      &:after {transition-property: bottom, transform;}
    }
  } @else if $state == active {
    span {
      background: none;

      &:before {
        top: 0;
        transform: rotate(45deg);
      }

      &:after {
        bottom: 0;
        transform: rotate(-45deg);
      }

      &:before, &:after {
        transition-delay: 0, 0.3s;
      }
    }
  }
}

@mixin beveled-corner($pos, $size, $color) {
  $top: 0;
  $left: 0;

  @if $pos == tl {
    $top: 0;
    $left: 0;
  }
  @else if $pos == tr {
    $top: 0;
    $left: 100%;
  }
  @else if $pos == br {
    $top: 100%;
    $left: 100%;
  }
  @else if $pos == bl {
    $top: 100%;
    $left: 0;
  }

  background: radial-gradient(circle at $top $left, rgba(255,0,0,0) $size, $color $size);
}
