$triangle-size: 1em;

%link-button {
  display: inline-block;
  background-color: $gold;
  color: $blue2;
  padding: .25em 1em;
  font-size: 0.85em;
  border-radius: .25em;
  text-decoration: none;
  position: relative;
  z-index: 1;
  border: 2px solid transparent;

  transition: .5s border ease-out,
    .5s box-shadow ease-out,
    .5s .1s border-top-left-radius,
    .5s .1s border-top-right-radius,
    .5s .2s border-bottom-right-radius,
    .5s .2s border-bottom-left-radius;

  &:hover, &:focus, &:active {
    border-radius: 10em;
    border-color: $blue2;
    box-shadow: 0 0 5px 1px rgba($blue1, .25);
  }
}
