// Fonts
$serif: 'Arvo', serif;
$sans-serif: 'Raleway', sans-serif;

$typl8-font-size: 130;

$modular-scale-ratio: $golden;
$modular-scale-base: 1.0em;

$alpha:   strip_units(modular-scale(4) * $typl8-font-base);
$beta:    strip_units(modular-scale(3) * $typl8-font-base);
$gamma:   strip_units(modular-scale(2) * $typl8-font-base);
$delta:   strip_units(modular-scale(1) * $typl8-font-base);
$epsilon: strip_units(modular-scale(0) * $typl8-font-base);
$zeta:    strip_units(modular-scale(-1) * $typl8-font-base);

// Font Scaling
$font-scale-start: 20rem;
$font-scale-stop: 80rem;
$int: 5;

// Colors
$gold: #FEC763;
$pink1: #FAC4C4;
$pink2: #F8A9AE;
$pink3: #F37384;
$blue1: rgb(0, 175, 214);
$grey1: #eee;
$grey2: #ccc;
$grey3: #666;

// Typeplate Overrides
$paragraph-vertical-whitespace: true;
$typl8-paragraph-spacing: false;
$typl8-indent-val: 0;

// Structure
$page-margin: 5%;

$body-max-width: 52rem;
$body-min-width: 25rem;
$side-max-width: 25rem;
$side-min-width: 25rem;

$two-col-max: $body-max-width + $side-max-width;
$two-col-min: $body-min-width + $side-min-width;
