#main-nav {
  background-color: $gold;

  ul {
    @include flexmenu;
    margin: 0;
    padding: 0;

    li {
      //border-bottom: 3px solid #ccc;
      position: relative;

      &:after {
        @include transition(all .1s ease-in);
        @include transition(box-shadow .2s);
        display: block;
        position: absolute;
        width: 100%;
        height: calc(100% + 10px);
        content: '';
        background-color: $gold;
        z-index: 10;
        top: -10px;
        border-bottom: 2px solid #eee;
        box-shadow: 0 2px 1px 0 rgba(0,0,0,.5);
      }

      &:hover {
        &:after, a {
          @include transform(translateY(10px));
        }
      }

      a {
        @include transition(all .2s ease-in);
        background-color: $gold;
        position: relative;
        z-index: 15;
        padding: .5em 1em;
        text-align: center;
        text-decoration: none;
        color: white;
        font-family: $sans-serif;
        font-weight: bold;
        text-transform: uppercase;

        &:hover,&:active {
          background-color: $gold;
          text-decoration: underline;
          color: white;
        }
      }

      &.active-trail {
        background-color: $blue1;

        &:after, a {
          @include transform(translateY(10px));
          background-color: $blue1;
        }

        a {color: white;}
      }
    }
  }
}

#main-nav-sticky-wrapper {
  &.is-sticky {
    #main-nav {
      box-shadow: 0 2px 1px 0 rgba(0, 0, 0, .5);
      z-index: 9;
    }
  }
}
