#main-nav {
  background-color: $gold;

  ul {
    @include flexmenu;
    margin: 0;
    padding: 0;

    li {
      position: relative;

      a {
        @include transition(all .1s ease-in);
        background-color: $gold;
        position: absolute;
        width: 100%;
        top: -.5em;
        left: 0;
        z-index: 15;
        padding: 1em 1em .5em 1em;
        text-align: center;
        text-decoration: none;
        color: white;
        font-family: $sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        border-bottom: 3px solid #eee;
        text-shadow: 1px 1px 0 rgba(0,0,0,.3);

        &:hover, &:active {
          @include transform(translateY(.5em));
          background-color: $gold;
          text-decoration: underline;
        }
      }

      &.active-trail {
        a {
          @include transform(translateY(.5em));
          background-color: $blue1;
        }
      }
    }
  }
}

#main-nav-sticky-wrapper {
  &.is-sticky {
    #main-nav {
      z-index: 10;

      a {
        box-shadow: 0 2px 1px 0 rgba(0, 0, 0, .5);
      }
    }
  }
}

body.page-home {
  #main-nav a {
    opacity: .8;
  }

  #main-nav-sticky-wrapper.is-sticky #main-nav a,
  #main-nav-sticky-wrapper #main-nav a:hover  {
    opacity: 1;
  }
}


