#main-nav {
  //background-color: $gold;
  @include linear-gradient($gold, darken($gold, 5%));

  ul {
    @include flexmenu;
    margin: 0;
    padding: 0;

    li {
      border-bottom: 3px solid #ccc;

      a {
        @include transition(all .2s ease-in);
        padding: .5em 1em;
        text-align: center;
        text-decoration: none;
        color: white;
        font-family: $sans-serif;
        font-weight: bold;
        text-transform: uppercase;

        &:hover,&:active {
          text-decoration: underline;
          color: $blue1;
        }
      }

      &.active-trail {
        border-bottom: 3px solid $blue1;
        a {color: $blue1;}
      }
    }
  }
}
