<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <header id="site-header" role="banner">
      <nav id="main-nav" role="navigation">
        <div class="js-nav-toggle-wrapper">
          <button class="js-nav-toggle">
            <span>Open menu</span>
          </button>
        </div>

        {% include menu.html %}
      </nav>

      {% if page.title %}
      <h1>{{ page.title }}</h1>
      {% endif %}

      {% if page.subtitle %}
      <div class="page-header__subtitle">
        {{ page.subtitle }}
      </div>
      {% endif %}

      <a href="{{ site.baseurl | prepend: site.host }}" title="Home" class="page-header__badge">
        <img src="{{ site.baseurl }}/images/badge.png" alt="The Accessibots" />
      </a>
    </header>

    {{ content }}

    {% include footer.html %}
  </body>
</html>
