article.node-news {
  footer {
    text-align: center;

    .author, time {
      display: block;
    }

    time {
      font-size: 1.4em;
    }
  }

  > .content {
    margin-top: 3rem;

    .field-primary-image {
      float: right;
      max-width: 38%;
      margin-left: 1em;
      line-height: 0;

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .field-body {
    @include clearfix;
  }

  .field-attached-files {
    clear: both;
    margin: 3rem 0;

    a {
      background-color: $gold;
      color: $blue1;
      display: inline-block;
      padding: .5em 1em;
      margin: .5em 0;
      border-radius: .25em;
      text-decoration: none;
      transition: .2s background-color;

      &:hover, &:focus, &:active {
        text-decoration: underline;
        background-color: darken($gold, 5%);
      }
    }
  }
}
