$teaser-height: 470px;

.teaser {
  text-align: center;
  margin-bottom: 5em;
}

.teaser--title {
  @include scale-font-size($font-scale-start, 1.5em, $font-scale-stop, 2.5em);
  margin: .5em 0;

  a {
    color: $pink3;
    text-decoration: none;

    &:hover, &:focus {
      text-decoration: underline;
    }
  }
}

.teaser--primary-image-link {
  display: block;
  height: 150px;
}

.teaser--primary-image {
  @include center(y);
  max-height: 100%;
  width: auto;
}

.teaser--author,
.teaser--date {
  display: inline-block;
  color: $blue1;
  font-size: 0.8em;
  padding: 0 2em;
}

.teaser--author {
  margin-right: -13px;
  border-right: 1px solid $gold;
  border-bottom-right-radius: 2em;
  border-top-right-radius: 0;
}

.teaser--date {
  border-left: 1px solid $gold;
  border-top-left-radius: 2em;
  border-bottom-left-radius: 0;
}


// Small screens
@include layout(one-col) {
  .teaser {
    padding: 1em 0;
  }
}

// Large screens
@include layout(two-col) {
  .page-content--container {
    display: flex;
    flex-wrap: wrap;
  }

  .teaser {
    flex-grow: 1;
    width: 50%;

    .inner {
      padding: 0 1em;
      position: relative;
    }
  }

  .teaser__news {
    &:nth-child(2) {
      margin-top: 200px;
    }

    &:nth-child(odd):not(:first-child) {
      margin-top: -200px;
    }
  }
}
