html {
  height: 100%;
}

body {
  font-family: $serif;
  height: 100%;
}

// Headers
@include headers {
  font-family: $sans-serif;
  color: $pink3;
  text-shadow: 1px 1px 1px rgba(black, .38);
}

@include header-scale($two-col-max, 30, 9, .5);

p {
  margin-bottom: 0;
  //text-indent: $indent-val;

  + p {
    margin-top: 1em;
  }
}

#page--content {
  .panel--pane {
    .inner {
      max-width: 52em;
      padding: 5em 1em;
      margin: 0 auto;
    }
  }
}
